<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.choremates">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RoommatesActivity"></activity>
        <activity android:name=".CustomChoresPage" />
        <activity android:name=".LivingRoomChoresActivity" />
        <activity android:name=".GeneralChoresActivity" />
        <activity android:name=".FrequencyActivity" />
        <activity android:name=".AddRoommatesActivity" />
        <activity android:name=".ConfirmEmailActivity" />
        <activity android:name=".BedroomChoresActivity" />
        <activity android:name=".BathroomChoresActivity" />
        <activity android:name=".KitchenChoresActivity" />
        <activity android:name=".AddChoresActivity" />
        <activity
            android:name=".ChoresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>